<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>
	<logger name="org.springframework" level="INFO" />
	<logger name="org.nd4j" level="INFO" />
	<logger name="org.canova" level="INFO" />
	<logger name="org.datavec" level="INFO" />
	<logger name="org.deeplearning4j" level="INFO" />
	<logger name="opennlp.uima" level="ERROR" />
	<logger name="org.apache.uima" level="ERROR" />
	<logger name="org.apache.uima" level="ERROR" />
	<logger name="com.amazon" level="WARN" />
	<logger name="com.amazonaws" level="WARN" />
	<logger name="com.amazonaws.request" level="WARN" />
	<logger name="org.apache.http.wire" level="WARN" />
	<logger name="httpclient.wire" level="WARN" />
	<logger name="com.elevenquest.dl" level="DEBUG" />
	<root level="WARN">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>